<div class="card h-100 shadow-sm">
  <img src="{{ getArtistImageUrl(imageBaseUrl, artist.picture, artist.id) }}" alt="{{artist.artistName}}" class="img-fluid">
  <div class="card-body d-flex flex-column">
    <a >
      <h6 class="text-uppercase" routerLink="/artist/{{artist.id}}">{{artist.artistName}}</h6>
    </a>
    <span class="mb-2">First name: {{artist.firstName}}</span>
    <span class="mb-2">Last name: {{artist.lastName}}</span>
    <span class="mb-2">Country: {{artist.country}}</span>

    <div class="btn-group mt-auto">
      <button type="button" routerLink="/artist/{{artist.id}}" class="btn btn btn-outline-secondary">View</button>
    </div>
    <small class="text-muted"></small>

  </div>
</div>
