<form [formGroup]="form" (ngSubmit)="submit()">
  <mat-dialog-content>

    <div class="mb-3">
      <mat-form-field appearance="fill" class="w-100">
        <mat-label>Old Password</mat-label>
        <input matInput type="password" formControlName="oldPassword">
      </mat-form-field>
    </div>

    <div class="mb-3">
      <mat-form-field appearance="fill" class="w-100">
        <mat-label>New Password</mat-label>
        <input matInput type="password" formControlName="newPassword1">
      </mat-form-field>
    </div>

    <div class="mb-3">
      <mat-form-field appearance="fill" class="w-100">
        <mat-label>Repeat New Password</mat-label>
        <input matInput type="password" formControlName="newPassword2">
      </mat-form-field>
    </div>
  </mat-dialog-content>

  <div *ngIf="errorMessage" class="alert alert-danger mb-3">{{ errorMessage }}</div>

  <mat-dialog-actions align="end" class="mt-3">
    <button mat-button type="button" (click)="cancel()">Cancel</button>
    <button mat-flat-button color="primary" type="submit" [disabled]="isSubmitting">Change</button>
  </mat-dialog-actions>
</form>
