<div class="form-inline mt-2">
  <input class="form-control mr-2" (keyup.enter)="onSearch()" #search style="width: 300px" placeholder="Search by track name" type="text">
  <button class="btn btn-outline-primary my-2"  (click)="onSearch()">Search</button>
  <button class="btn btn-outline-success ml-2 my-2" (click)="onReset()">Reset</button>
</div>

<app-table
  [displayedColumns]="['name', 'duration', 'publishDate', 'genre.name', 'artist.artistName']"
  [displayedLabels]="['Title', 'Duration (sec)', 'Published', 'Genre', 'Artist']"
  [dataSource]="tracks?.items || []"
  [actions]="['edit', 'delete']"
  [pagination]="tracks"
  (action)="handleAction($event)"
  (pageChange)="loadTracks($event)">
</app-table>
